<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>WebApp for students</display-name>
  
  <listener>
        <listener-class>
                com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
  </listener>
  <servlet>
  	<servlet-name>foo</servlet-name>
  	<servlet-class>ru.spbstu.telematics.web.FooServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>messageparser</servlet-name>
  	<servlet-class>ru.spbstu.telematics.web.MessageServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<servlet-name>listmessages</servlet-name>
  	<servlet-class>ru.spbstu.telematics.web.ListMessages</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>foo</servlet-name>
  	<url-pattern>/foo</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>messageparser</servlet-name>
  	<url-pattern>/msg</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>listmessages</servlet-name>
  	<url-pattern>/listmsgs</url-pattern>
  </servlet-mapping>
  
    <servlet>
        <servlet-name>soap</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>soap</servlet-name>
        <url-pattern>/soap/*</url-pattern>
    </servlet-mapping>
  
</web-app>
